---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import { Section } from 'kc-astro-shared-theme';
import Layout from '../../layouts/Layout.astro';
import '../../styles/custom.css';
export async function getStaticPaths() {
  const posts = await getCollection('portfolioPosts');

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}
interface Props {
  post: CollectionEntry<'portfolioPosts'>;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title="Ken Chase - Canadian web designer, photographer, and musician">
  <Section id="portfolio-intro" classList="kc-region--lg kc-region--inverted-light" title={post.data.title} headingTag="h1" headingSize="h1">
    <p>{post.data.description}</p>
  </Section>
  <Section id="portfolio-content" classList="kc-region--lg">
    <Content />
  </Section></Layout
>
