---
import Layout from '@layouts/Layout.astro';
import { Heading } from 'kc-astro-shared-theme';
---

<Layout title="Contact Ken Chase - Canadian web designer and developer" description="Get in touch with Ken Chase, a Canadian web designer and developer based in Ottawa, Ontario. Reach out for web design, development, and WordPress services.">
  <section id="portfolio" class="region kc-region--lg kc-region--inverted-light">
    <div class="wrapper flow">
      <Heading tag="h1" size="h2">Contact</Heading>
      <div class="content prose">
        <p>If you would like to get in touch with me, please feel free to reach out via email at <a href="mailto:hello@kenchase.com">hello@kenchase.com</a></p>
      </div>
    </div>
  </section>
</Layout>
