---
import Layout from '../layouts/Layout.astro';
import { Heading, IconLink } from 'kc-astro-shared-theme';
import '../styles/custom.css';
---

<Layout title="Ken Chase - Canadian web designer, photographer, and musician">
  <section id="portfolio" class="region kc-region--lg kc-region--inverted-light">
    <div class="wrapper flow">
      <Heading tag="h2" size="h2">Contact</Heading>
      <div class="content prose">
        <p>The following is a sampling of some of the work I've been involved with. Keep in mind that it takes a team to successfully build products. Collaboration is key.</p>
      </div>
    </div>
  </section>

  <section id="web-design-portfolio" class="region kc-region--lg">
    <div class="wrapper">
      <Heading tag="h2" size="h2">Select Portfolio Projects</Heading>
      <div class="content flow prose">
        <p>I turn overheard conversations into songs—those random snippets of life that catch my ear while walking around the city, sitting in cafes, restaurants, and bars.</p>
        <div class="flow kc-portfolio-items">
          <!-- Algonquin College -->
          <div class="flow kc-portfolio-item">
            <div class="grid" data-layout="50-50">
              <Heading tag="h3" size="h3">Algonquin College</Heading>
              <div class="content flow prose">
                <p>In 2024, I was part of a team that designed and built the Algonquin College Design System. This system is used by the college to ensure consistency and accessibility across all their digital products.</p>
                <p>My role included designing components, creating documentation, and ensuring that the system met accessibility standards.</p>
                <IconLink href="./algonquin-college-design-system">View Project Details</IconLink>
              </div>
            </div>
          </div>
          <!-- Agilus Work Solutions -->
          <div class="flow kc-portfolio-item">
            <div class="grid" data-layout="50-50">
              <Heading tag="h3" size="h3">Agilus Work Solutions</Heading>
              <div class="content flow prose">
                <p>In 2025, I was part of a team that designed and built the Algonquin College Design System. This system is used by the college to ensure consistency and accessibility across all their digital products.</p>
                <IconLink href="./algonquin-college-design-system">View Project Details</IconLink>
              </div>
            </div>
          </div>
          <!-- Natural Resources Canada -->
          <div class="flow kc-portfolio-item">
            <div class="grid" data-layout="50-50">
              <Heading tag="h3" size="h3">Natural Resources Canada</Heading>
              <div class="content flow prose">
                <p>In 2025, I was part of a team that designed and built the Algonquin College Design System. This system is used by the college to ensure consistency and accessibility across all their digital products.</p>
                <IconLink href="./algonquin-college-design-system">View Project Details</IconLink>
              </div>
            </div>
          </div>
          <!-- Health Canada -->
          <div class="flow kc-portfolio-item">
            <div class="grid" data-layout="50-50">
              <Heading tag="h3" size="h3">Health Canada</Heading>
              <div class="content flow prose">
                <p>In 2025, I was part of a team that designed and built the Algonquin College Design System. This system is used by the college to ensure consistency and accessibility across all their digital products.</p>
                <IconLink href="./algonquin-college-design-system">View Project Details</IconLink>
              </div>
            </div>
          </div>
          <!-- Health Canada -->
          <div class="flow kc-portfolio-item">
            <div class="grid" data-layout="50-50">
              <Heading tag="h3" size="h3">Canadian Cerebral Palsy Sports Association</Heading>
              <div class="content flow prose">
                <p>In 2025, I was part of a team that designed and built the Algonquin College Design System. This system is used by the college to ensure consistency and accessibility across all their digital products.</p>
                <IconLink href="./algonquin-college-design-system">View Project Details</IconLink>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
