---
import { Section, Heading, IconLink } from 'kc-astro-shared-theme';
import Layout from '../layouts/Layout.astro';
import '../styles/custom.css';
// Import client list data
import clientList from '../data/client-list.json';
// Get Content Collection
import { getCollection } from 'astro:content';
const portfolioPosts = await getCollection('portfolioPosts');
---

<Layout title="Ken Chase - Canadian web designer, photographer, and musician">
  <Section id="portfolio" classList="kc-region--lg kc-region--inverted-light" title="Services">
    <p>The following is a sampling of some of the work I've been involved with. Keep in mind that it takes a team to successfully build products. Collaboration is key.</p>
  </Section>

  <Section id="client-list" classList="kc-region--lg" title="Partial Client List">
    <p>Here is a partial list of clients I've worked with over the years:</p>
    <ul class="column-list-2">
      {clientList.map((client) => <li> {client.name}</li>)}
    </ul>
  </Section>

  <Section id="web-design-portfolio" classList="region" title="Select Portfolio Projects">
    <p>I turn overheard conversations into songs—those random snippets of life that catch my ear while walking around the city, sitting in cafes, restaurants, and bars.</p>
    <div class="flow kc-portfolio-items">
      <h2>Items</h2>
      {
            portfolioPosts.map((project) => (
          <Heading tag="h3" size="h3">
            {project.data.title}
          </Heading>
          <p>Test</p>
        ))
      }
      <!-- Algonquin College -->
      <div class="flow kc-portfolio-item">
        <div class="grid" data-layout="50-50">
          <Heading tag="h3" size="h3">Algonquin College</Heading>
          <div class="content flow prose">
            <p>In 2024, I was part of a team that designed and built the Algonquin College Design System. This system is used by the college to ensure consistency and accessibility across all their digital products.</p>
            <p>My role included designing components, creating documentation, and ensuring that the system met accessibility standards.</p>
            <IconLink href="/portfolio/algonquin-college-design-system">View Project Details</IconLink>
          </div>
        </div>
      </div>
      <!-- Agilus Work Solutions -->
      <div class="flow kc-portfolio-item">
        <div class="grid" data-layout="50-50">
          <Heading tag="h3" size="h3">Agilus Work Solutions</Heading>
          <div class="content flow prose">
            <p>In 2025, I was part of a team that designed and built the Algonquin College Design System. This system is used by the college to ensure consistency and accessibility across all their digital products.</p>
            <IconLink href="/portfolio/agilus-work-solutions">View Project Details</IconLink>
          </div>
        </div>
      </div>
      <!-- Natural Resources Canada -->
      <div class="flow kc-portfolio-item">
        <div class="grid" data-layout="50-50">
          <Heading tag="h3" size="h3">Natural Resources Canada</Heading>
          <div class="content flow prose">
            <p>In 2025, I was part of a team that designed and built the Algonquin College Design System. This system is used by the college to ensure consistency and accessibility across all their digital products.</p>
            <IconLink href="/portfolio/nrcan">View Project Details</IconLink>
          </div>
        </div>
      </div>
      <!-- Health Canada -->
      <div class="flow kc-portfolio-item">
        <div class="grid" data-layout="50-50">
          <Heading tag="h3" size="h3">Health Canada</Heading>
          <div class="content flow prose">
            <p>In 2025, I was part of a team that designed and built the Algonquin College Design System. This system is used by the college to ensure consistency and accessibility across all their digital products.</p>
            <IconLink href="portfolio/health-canada">View Project Details</IconLink>
          </div>
        </div>
      </div>
      <!-- Health Canada -->
      <div class="flow kc-portfolio-item">
        <div class="grid" data-layout="50-50">
          <Heading tag="h3" size="h3">Canadian Cerebral Palsy Sports Association (CCPSA)</Heading>
          <div class="content flow prose">
            <p>In 2025, I was part of a team that designed and built the Algonquin College Design System. This system is used by the college to ensure consistency and accessibility across all their digital products.</p>
            <IconLink href="/portfolio/ccpsa">View Project Details</IconLink>
          </div>
        </div>
      </div>
    </div>
  </Section>
</Layout>
