@use 'global';
@use 'blocks';
@use 'compositions';
@use 'utilities';

.kc-region--lg {
  --region-space: var(--space-xl);
  border-top: var(--stroke-solid);
}
.kc-region--inverted-light {
  background-color: var(--color-bg-light);
}

.region--lg {
  --region-space: var(--space-xl);
}

.region--inverted {
  background-color: var(--color-bg-inverse);
  color: var(--color-text-inverse);
}

.region--inverted-light {
  background-color: var(--color-bg-light);
}

.region-web-design,
.region-photography,
.region-music {
  scroll-margin-top: 0;
  border-bottom: var(--stroke-solid);
}

.region--dotted {
  border-bottom: var(--stroke-solid);
}

.dotted-border {
  background-color: #fff;
  padding: 4px;
  border-bottom: 2px dotted var(--color-accent);
}

.kc-portfolio-item {
  --flow-space: var(--space-xl);
}
